/*Limpar formatações padrão*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #e6e6e6;
}

/*
**** Layout ****
*/
#area-cabecalho {
  background-color: #ff8c00;
  padding: 15px;
  text-align: center;
}

#area-logo {
  position: relative;
  align-content: center;
  padding: 10px;
}
#area-menu {
  padding: 10px;
}

#area-principal {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

#area-postagens {
  width: 95%;
  float: left;
}
.atual {
  background-color: black;
}

.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

.conteudo-lateral {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}

.postagem-lateral {
  font-size: 0.8em;
  padding: 5px;
  border-bottom: 1px dotted #ccc;
}

#rodape {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #ccc;
}

/*
**** Formatação do menu ****
*/
a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #ff8c00;
}

a:hover {
  text-decoration: underline;
}

#area-cabecalho a:link,
#area-cabecalho a:visited {
  color: #fff;
  padding: 8px 12px;
}

#area-cabecalho a:hover {
  color: #ff8c00;
  background: #fff;
  text-decoration: none;
}

/*
**** Formatações em geral ****
*/
h1 {
  color: black;
  font-size: 2.5em;
}

h2 {
  color: #ff8c00;
}

h3 {
  color: #565656;
  background: #ccc;
  padding: 5px;
}

.branco {
  color: white;
}

.data-postagem {
  font-size: 0.8em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}

.img-logo {
  width: 130px;
}
